@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2")format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2")format("woff2");
    font-display: swap;
}

body {
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #F2F2F2;
      
}

header {
    margin: 0 auto;
    min-width: 94%;
    display: -webkit-flex;
    display: -ms-inline-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    background-color: #ffffff;
    height: 65px; 
}

header .logo {
    margin-left: 70px;
}

header .menu-top {
    list-style-type: none;
}

header .custom-menu-top {
    list-style-type: none;
}

header .menu-top-ltem {
    display: inline-block;
 }

header .custom-menu-ltem {
   display: inline-block;
}

header .menu {
    display: block;
    text-decoration: none;
    Font-family: PT Sans;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    Font-style: Bold;
    Line-height: 26px;
    Line-height: 100%;
 }

.hero {
    margin: 0;
    padding: 0;
    height: 485px;
    color: #ffffff;
    background-color: #000000;
    background-image: url("../images/main/пейзаш.jpg");
      background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

ul.hero-list li {
    list-style-type: none;
}

.divider {
    text-align: center;
    height: 282px;
}

.divider-title {
    font-family: "PT Sans", sans-serif;
    Font-style: Bold;
    font-weight: 700;
    Font-size: 30px;
    Line-height: 36px;
    Line-height: 93%;
    Vertical-align: Top;
    text-transform: uppercase;
}

.divider-text {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    Font-size: 22px;
    Line-height: 26px;
    Line-height: 91%;
    Vertical-align: Top;
}

.advantages-background {
    width: 400px; 
    height: 384px;
    background-color: #82B3D3;
    text-align: center;
    Font-style: Bold; 
    margin: 85px, 85px;
    padding: 92px;
    width: 230px; 
    height: 200px;
    text-shadow: 4px 0px 4px rgba(0,0,0,0.25);
    color: #ffffff; 
}

.advantages-title { 
    font-family: "PT Sans", sans-serif;
    font-weight: 700; 
    Font-style: Bold;
    font-size: 24px;
    Line-height: 28px;
    text-transform: uppercase;
    width: 230px; 
    height: 56px;
    text-align: center;
} 

.advantages-description{
    font-family: "PT Sans", sans-serif;
    font-weight: 400; 
    font-style: regular;
    font-size: 18px;
    Line-height: 21px;
    width: 230px; 
    height: 21px;
    text-align: center;
}

.advantages-description-text {
    font-family: "PT Sans", sans-serif;
    font-weight: 400; 
    font-style: regular;
    font-size: 18px;
    Line-height: 21px;
    width: 230px; 
    height: 63px;
    text-align: center;
}

.advantages-Housing {
    width: 400px; 
    height: 384px;
    background-color: rgba(131, 179, 211, 0.12);
    text-align: center;
    Font-style: Bold;
    color: #000000; 
}