@font-face {
 font-family: "pt sans";
 font-style: normal;
 font-weight: 400;
 src: url("../fonts/ptsans-400.woff2")format("woff2");
 font-display: swap;
}

@font-face {
 font-family: "pt sans";
 font-style: normal;
 font-weight: 700;
 src: url("../fonts/ptsans-700.woff2")format("woff2");
 font-display: swap;
}

body {
 margin: 0 auto;
 font-family: "pt sans", sans-serif;
 font-weight: 400;
 font-size: 22px;
 line-height: 26px;
 background-color: #F2F2F2;
}

.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 padding: 0;
 border: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
}

.header {
 width: 1200px;
 margin: 0 auto;
}

.container {
 display: flex;
 background-color: #ffffff;
}

.navigation-left {
 display: flex;
}

.navigation-logo {
 margin-left: 70px;
}

.logo-header {
 width: 130px;
}

.navigation-list {
 margin: 0;
 padding: 0;
 width: 440px;
 display: flex;
 flex-wrap: wrap;
 list-style-type: none;
 margin-left: 30px;
}

.navigation-left-link {
 display: block;
 padding: 20px 17px;
 font-style: normal;
 text-decoration: none;
 font-family: "pt sans",sans-serif;
 font-weight: 700;
 color: #000000;
 font-size: 20px;
 line-height: 26px;
}

.navigation-right-list {
 display: flex;
 margin-left: 187px;
}

.navigation-right-menu {
 margin: 23px 11px;
}

.number {
 margin-right: 0;
 margin-left: -19px;
 margin-top: 15px;
}

.navigation-button {
 width: 160px;
 margin-top: 14px;
 margin-left: 20px;
 height: 37px;
 border-radius: 4px;
 background-color: #756157;
 text-align: center;
}

.navigation-right-button {
 font-weight: 700;
 font-size: 16px;
 color: #FFFFFF;
 text-decoration: none;
}

.main-container {
 flex-grow: 1;
}

.main-index {
 display: flex;
 flex-direction: column;
}

.pege-container {
 background-color: #ffffff;
 margin: 0 auto;
 background-image: url("../images/main/пейзаш.jpg");
 background-repeat: no-repeat;
}

.hero-list {
 margin: 0;
 padding: 0;
 list-style-type: none;
}

.hero-logo-sedona {
 padding-top: 47px;
 padding-bottom: 29px;
 display: block;
 margin: 0 auto;
}

.hero-logo-divider {
 margin-bottom: 63px;
}

.hero-title {
 margin: 0 auto;
 width: 760px;
 font-size: 30px;
 line-height: 36px;
 text-align: center;
 text-transform: uppercase;
}

.hero-text {
 margin: 0 auto;
 width: 655px;
 margin-top: 31px;
}

.advantages {
 margin-top: 90px;
}

.advantages-ltem-blok {
 display: flex;
 background-color: #82B3D3;
}

.advantages-ltem-background {
 width: 230px;
 margin: 0 auto;
 text-align: center;
 color: #ffffff;
}

.advantages-title-background {
 margin-top: 92px;
 margin-bottom: 30px;
 font-size: 24px;
 line-height: 28px;
 text-transform: uppercase;
}

.advantages-text-background {
 margin-top: 0;
 margin-bottom: 30px;
 font-size: 18px;
 line-height: 21px;
}

.advantages-list {
 margin: 0;
 padding: 0;
 display: flex;
 text-align: center;
 list-style-type: none;
}

.advantages-ltem-white {
 width: 400px;
 min-height: 384px;
}

.advantages-ltem {
 width: 400px;
 background: rgba(131, 179, 211, 0.12);
}

.advantages-inner {
 width: 230px;
 margin-left: 85px;
}

.advantages-ltem-color {
 width: 400px;
 height: 384px;
 background: rgba(131, 179, 211, 0.2);
}

.advantages-icon {
 margin-top: 80px;
}

.advantages-title-advantages {
 font-size: 24px;
 line-height: 28px;
 text-transform: uppercase;
}

.advantages-subject-advantages {
 margin: 0;
 padding-top: 102px;
 padding-bottom: 30px;
 font-size: 24px;
 line-height: 28px;
 text-transform: uppercase;
}

.advantages-text {
 margin: 0 auto;
 width: 230px;
 font-size: 18px;
 line-height: 21px;
}

.advantages-subject-advantages {
 width: 180px;
 margin: 0 auto;
}

.advantages-text-subtitle {
 margin: 0;
 padding-bottom: 30px;
 font-size: 18px;
 line-height: 21px;
}

.advantages-text-background-text {
 margin: 0 auto;
 width: 180px;
 font-size: 18px;
 line-height: 21px;
}

.advantages-background {
 margin: 0 auto;
 margin-top: 102px;
 width: 200px;
 height: 200px;
}

.hotel-search {
 text-align: center;
}

.hotel-search-list {
 margin: 0;
 padding: 0;
 list-style-type: none;
}

.hotel-search-title {
 text-transform: uppercase;
 margin-bottom: 29px;
 margin-top: 91px;
}

.hotel-search-text {
 margin: 0 auto;
 width: 592px;
 margin-bottom: 56px;
}

.hotel-search-ltem-button {
 margin: 0 auto;
 width: 574px;
 padding: 12px;
 background-color: #756157;
 border-radius: 4px;
}

.hotel-search-button-roctanglo {
 font-weight: 700;
 font-size: 20px;
 line-height: 36px;
 color: #ffffff;
 text-decoration: none;
}

.subscride {
 margin-top: 93px;
 height: 411px;
 background-image: url("../images/main/index-background.jpg");
 text-align: center;
}

.subscride-title {
 margin-top: 0;
 padding-top: 94px;
 color: #FFFFFF;
 font-size: 30px;
 line-height: 36px;
 text-transform: uppercase;
}

.subscride-text {
 margin: 0 auto;
 color: #FFFFFF;
 width: 475px;
}

.subscride-form {
 margin-top: 56px;
}

.subscride-form-field {
 display: flex;
 justify-content: center;
 margin: 0;
}

.subscride-mail {
 width: 600px;
 border-radius: 10px 0px 0px 10px;
 font-family: "pt sans",sans-serif;
 font-size: 18px;
 padding-left: 22px;
}

.button-form {
 padding: 12px;
 width: 200px;
 border-radius: 0px 10px 10px 0px;
 font-family: "pt sans",sans-serif;
 font-weight: 700;
 font-size: 20px;
 line-height: 36px;
 background-color: #82B3D3;
 color: #ffffff;
 text-transform: uppercase;
}

.pege-container-catalog {
 background-color: #ffffff;
 width: 1200px;
 margin: 0 auto;
 background-image: url("../images/main/union.jpg");
 background-repeat: no-repeat;
}

.main-header {
 height: 403px;
 color: #FFFFFF;
}

.main-header-title {
 font-family: "pt sans",sans-serif;
 font-weight: 700;
 font-size: 60px;
 line-height: 70px;
 margin-left: 70px;
 margin-top: 35px;
}

.form-content-list {
 list-style-type: none;
 display: flex;
}

.form-content-text {
 font-family: "pt sans",sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 21px;
}

.catalog-filter {
 width: 1060px;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.catalog-filter-title {
 font-family: "pt sans",sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 20px;
 line-height: 26px;
}

.catalog-filter-list {
 list-style-type: none;
}

.catalog-filter-control {
 font-family: "pt sans",sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 21px;
}

.catalog-button-list {
 list-style-type: none;
}

.catalog-products {
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.cards-list {
 padding: 0;
 margin: 0;
 list-style: none;
 display: flex;
 flex-wrap: wrap;
}

.cards-item {
 width: 300px;
 padding: 20px;
 margin-right: 18px;
}

.cards-item:nth-child(1) {
 margin-left: 73px;
}

.cards-item:nth-child(4) {
 margin-left: 73px;
}

.product-cards-image {
 margin-bottom: 16px;
}

.product-cards-title {
 margin-top: 0;
 margin-bottom: 16px;
}

.footer {
 margin: 0 auto;
 width: 1200px;
 background-color: #ffffff;
}

.page-footer-container {
 display: flex;
}

.footer-container-icon {
 margin-left: 70px;
 margin-top: 45px;
 margin-bottom: 35px;
 width: 142px;
}

.footer-contacts-list {
 padding: 0;
 margin: 0;
 list-style-type: none;
 display: flex;
 justify-content: space-around;
}

.footer-contacts {
 padding: 0;
 margin: 11px;
}

.fotter-contacts-tel {
 width: 720px;
 margin-top: 40px;
 margin-left: 41px;
 text-align: center;
}

.contacts-tel {
 font-style: normal;
 font-size: 40px;
 line-height: 40px;
 color: #000;
 text-decoration: none;
}

.footer-contacts-logo {
 width: 115px;
 margin-right: 70px;
 margin-bottom: 30px;
}

.contacts-logo {
 margin-right: 70px;
 margin-top: 49px;
}
